* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 3rem;
}

.card {
  box-shadow: 0 0 1rem rgb(212, 212, 212);
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 80%;
  margin: 5rem auto;
}

.forms {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  gap: 0.5rem;
}

.form div {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.form div input {
  width: 100%;
}

.navBar{
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  margin: 1rem;
}

.navBar li a {
  text-decoration: none;
  font-size: 2rem;
}

.messages {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 80%;
  height: 50vh;
  margin: auto;
  padding: 3rem;
  overflow-y: auto;
}

.inputMessage  {
  text-align: right;
  width: 80%;
  margin: 2rem auto;
}

.inputMessage input {
  width: 100%;
  padding: 0.5rem;
}